@font-face {
  font-family: ProggyClean;
  src: url(ProggyClean.ttf);
}

#navbar {
  font-family: ProggyClean;
  background-color: #007380;
  color: white;
}

#navbar div {
  display: inline;
}


@media screen and (max-width: 568px) {
  #navbar {
    font-size: 10vw;
    padding: 0vw 0vw 3vw 3vw;
  }
}

@media screen and (min-width: 569px) and (max-width: 768px) {
  #navbar {
    font-size: 6vw;
    padding: 0vw 0vw 1.8vw 1.8vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
  #navbar {
    font-size: 5vw;
    padding: 0vw 0vw 1.2vw 1.2vw;
  }
}

@media screen and (min-width: 1000px) {
  #navbar {
    font-size: 2.5vw;
    padding: 0vw 0vw 0.5vw 0.5vw;
  }
}

