@font-face {
  font-family: ProggyClean;
  src: url(ProggyClean.ttf);
}

#navbar {
  font-size: 4vw;
  font-family: ProggyClean;
  background-color: #007380;
  color: white;
  padding: 0vw 0vw 0.7vw 0.7vw;
}
