.List {
  display: inline-block;
  background-color: white;
  width: 27vw;
  margin: 1.5vw;
  box-shadow: 0.5vw 0.7vw 0 #162e58;
}

#list-title {
  font-size: 2vw;
  padding: 0.5vw;
  background-color: #e5ae72;
}

#list-tasks {
  padding: 0.5vw;
}
