#delete {
  float: right;
}

@media screen and (max-width: 568px) {
  .Task {
    font-size: 4vw;
    padding: 1.5vw;
  }
}

@media screen and (min-width: 569px) and (max-width: 768px) {
  .Task {
    font-size: 2.6vw;
    padding: 1vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
  .Task {
    font-size: 1.8vw;
    padding: 0.5vw;
  }
}

@media screen and (min-width: 1000px) {
  .Task {
    font-size: 0.9vw;
    padding: 0.2vw;
  }
}
